!!! 5
%html
  %head
    %title Class Project Manager
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'jquery-ui.min'
    = stylesheet_link_tag 'jquery-ui.structure.min'
    = stylesheet_link_tag 'jquery-ui.theme.min'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body


    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
