-#  This file is app/views/projects/index.html.haml
%h1 All Project Tasks

= form_tag projects_path :method => :get, :id => 'users_form' do
 Include:
 - @all_users.each do |user|
  = user
  = check_box_tag "users[#{user}]",1, @all_users.include?(user)
 = submit_tag 'Filter', :id => 'users_submit'

%table#projects
 %thead
  %tr
   %th{:class => @title_header, :id => 'title_header'}= link_to 'Task Title', projects_path(:category => 'title', :users => @selected_users)
   %th Task Details
   %th Assigned User
   %th{:class => @due_date_header, :id => 'due_date_header'}= link_to 'Due Date', projects_path(:category => 'due_date', :users => @selected_users)

  %tbody
   - @projects.each do |project|
    %tr
     %td= project.title 
     %td= link_to "More about #{project.title}", project_path(project)
     %td= project.user
     %td= project.due_date.to_formatted_s(:long)

= link_to 'Add new project task', new_project_path
