<!-- app/views/home/index.html.erb -->

<body>
  
  <div id="content">
    <p id="notice"><%= flash[:notice] %></p>

    <div id="playlist-pick">
    <%= form_tag home_path, :method => "get" do %>
      <h1>Let's Get Started</h1>
      <label for="filter">How do you want to base this playlist?</label>
      <%= select_tag( :filter, options_for_select(Home::Filters), {prompt: 'Filter by...'}) %>
      <%= text_field_tag(:search_value, nil, {placeholder:'Search for...', id: "select-playlist", disabled: true}) %>
      <%= submit_tag 'Generate!', :id => "get-playlist"%>
      <% end %>
    </div>
  </div>
</body>

