<!DOCTYPE html>

<!DOCTYPE html>
<html>
  <head>
    <%= render 'html_header' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'jquery-ui.min' %>
    <%= stylesheet_link_tag 'jquery-ui.structure.min' %>
    <%= stylesheet_link_tag 'jquery-ui.theme.min' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main">
      <% if flash[:notice] %>
        <div class="message" id="notice">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:warning] %>
        <div class="message" id="warning">
          <%= flash[:warning] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
